{
    "presets": [
        "fbjs"
    ],
    "plugins": [
        "@babel/plugin-transform-flow-strip-types",
        "babel-plugin-module-map",
        "@babel/transform-react-jsx",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-class-properties"
    ],
    "parserOpts": {
        "plugins": [
            "jsx",
            "flow"
        ]
    },
    "ignore": [
        "foo.js"
    ]
}
